.cart-items{
    padding: 80px 40px;
}
.cart-items>h2{
    font-size: 2.4rem;
    font-weight: 400;
    color: #515050;
}

.order-total-container{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.order-total{
    font-size: 1.6rem;
}
